@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {

  --colorlogo: #0F172A;
  --maincolor: #4F46E5;
  --linkcolor: #475569;
  --linkcolordark: #94A3B8;
  --bg1: #020617;
  --bg2: #fafafe;
  --bgdark2: #081733;
  --whitecolor: #FFFFFF;
  --avialableBG: #EEF2FF;
  --textColor: #4338CA;
}
body{
  font-family: "Inter", sans-serif;
}
.container{
  padding-left: 80px;
  padding-right: 80px;
  margin-left: auto;
  margin-right: auto;
  min-width: 100%;
}
@media (max-width: 1200px){
  .container{
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (max-width: 768px){
  .container{
    padding-left: 20px;
    padding-right: 20px;
  }
}
/*Start Navbar Style*/
 nav .container ul li{
  position: relative;
}
nav .container ul li.active{
  transition: all 0.5s ease;
}
nav .container ul li::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: var(--maincolor);
  transition: width 0.5s ease;
}
nav .container ul li.active::before{
  width: 100%;
}
nav .container ul li.active a{
  color: var(--maincolor);
}
@media (min-width: 768px){
  nav .container .light-dark-icons .menu-icon{
    display: none;
  }
}
@media (max-width: 768px){
  nav .container ul{
    display: none;
  }
}
/*Menu-Navbar-Mobile*/
@media (min-width: 768px){
  .menu-navbar-mobile{
    display: none;
  }
}
.menu-navbar-mobile{
  left: -370px;
  transition: left 0.5s ease;
}
.menu-navbar-mobile.active{
  left: 0;
}
@media (max-width: 600px){
  .menu-navbar-mobile{
    width: 80%;
    left: -500px;
  }
}
.menu-navbar-mobile ul li a,
.menu-navbar-mobile ul li svg{
  transition: color 0.5s ease;
}
.menu-navbar-mobile ul li:hover a,
.menu-navbar-mobile ul li:hover svg{
  color: var(--maincolor);
}

/*End Navbar Style*/
/*Start Hero Style*/
.hero-section{
  background-image: url("./assets/Hero\ Section-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.dark .hero-section{
  background-image: url("./assets/dark-bg.png") !important;
}
@media (max-width: 520px){
  .hero-section{
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .hero-section .container .col-information h1{
    font-size: 20px;
  }
  .hero-section .container .col-information p{
    font-size: 12px;
  }
  .hero-section .container .view-btn{
    width: 130px;
    height: 40px;
    font-size: 13px;
    padding: 0;
  }
  .hero-section .container .col-available,
  .hero-section .container .touch-btn{
    display: none;
  }
}
/*End Hero Style*/

/*Start Techniacl-Skills Style*/
.technical-skils .container .col-heading h1{
  position: relative;
}
.technical-skils .container .col-heading h1::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -15px;
  width: 96px;
  height: 4px;
  background-color: #4F46E5;
}
@media (max-width: 992px){
  .technical-skils .container .col-heading h1::before{
    height: 2px;
    bottom: -10px;
  }
}
.technical-skils .container ul{
  list-style-type: disc;
}
@media (max-width: 850px){
  .technical-skils .container .all-cols-skills{
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
  .technical-skils .container .all-cols-skills .core-tech-col{
    width: 100%;
  }
  .technical-skils .container .all-cols-skills .style-backend-cols{
    width: 100%;
  }
  .technical-skils .container .all-cols-skills .style-backend-cols .style-col,
  .technical-skils .container .all-cols-skills .style-backend-cols .backend-col{
    width: 50%;
  }
}
@media (max-width: 520px){
  .technical-skils .container .all-cols-skills .style-backend-cols{
    flex-direction: column;
  }
  .technical-skils .container .all-cols-skills .style-backend-cols .style-col,
  .technical-skils .container .all-cols-skills .style-backend-cols .backend-col{
    width: 100%;
  }
  .technical-skils .container .all-cols-skills .core-tech-col,
  .technical-skils .container .all-cols-skills .style-backend-cols .style-col,
  .technical-skils .container .all-cols-skills .style-backend-cols .backend-col{
    height: fit-content;
  }
}
/*End Techniacl-Skills Style*/

/*Start Featured-Projects Style*/
@media (max-width: 992px){
  .featured-projects .container .all-projects{
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 520px){
  .featured-projects .container .col-heading{
    align-items: center;
  }
  .featured-projects .container .col-heading div p{
    display: none;
  }
}
/*End Featured-Projects Style*/

/*Start Code-Section Style*/
@media (max-width: 992px){
  .code-section .container{
    flex-direction: column;
  }
  .code-section .container .content-text{
    width: 100%;
  }
}
/*End Code-Section Style*/

@media (max-width: 992px){
  .hero-section,
  .technical-skils,
  .featured-projects,
  .code-section,
  .contact-home,
  .footer{
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
@media (max-width: 768px){
  .hero-section,
  .technical-skils,
  .featured-projects,
  .code-section,
  .contact-home,
  .footer{
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
/*Start Contact-home Style*/
@media (max-width: 520px){
  .contact-home .container .content-section{
    padding-left: 10px;
    padding-right: 10px;
  }
  .contact-home .container .content-section h1{
    font-size: 25px;
  }
  .contact-home .container .content-section p{
    font-size: 12px;
  }
  .contact-home .container .content-section .btns-contact a{
    width: 130px;
    height: 45px;
  }
}

/*End Contact-home Style*/
/*Start Footer Style*/

@media (max-width: 650px){
  .footer .content-footer .container{
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 20px;
}
}
/*End Footer Style*/

/*Start Projects-Page Style*/
.all-projects-section .container ul li.active{
  background-color: #494BD6;
  color: white;
  border: none !important;
}
.all-projects-section .container .all-projects .col-project .view-code-icon{
  display: none;
}
.all-projects-section .container .col-project .main-content-project,
.all-projects-section .container .col-project .col-desc-view{
  transition: display 0.5s ease;
}
.all-projects-section .container .col-project .col-desc-view{
  display: none;
}
.all-projects-section .container .col-project:hover .main-content-project{
  display: none;
}
.all-projects-section .container .col-project:hover .col-desc-view{
  display: block;
}
@media (max-width: 950px){
  .all-projects-section .container .all-projects{
    justify-content: center;
  }
}
/*
@media (max-width: 768px){
  .all-projects-section .container .all-projects .col-project .view-code-icon{
    display: block;
  }
}*/
html.dark .all-projects-section .container ul li.active{
  background-color: #C0C1FF;
  color: #1000A9;
}
@media (max-width: 520px){
  .all-projects-section{
    padding-top: 40px;
    padding-bottom: 0px;
  }
  .all-projects-section .container .content-text{
    gap: 4px;
    width: 100%;
  }
  .all-projects-section .container .content-text h1{
    font-size: 15px;
  }
  .all-projects-section .container .content-text p{
    font-size: 10px;
  }
  .all-projects-section .container .filter-projects{
    gap: 4px;
    margin-top: 0px;
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .all-projects-section .container .filter-projects li{
    font-size: 12px;
  }
  .all-projects-section .container .all-projects{
    padding-top: 32px;
    padding-bottom: 20px;
    margin-bottom: 0px;
  }
  .all-projects-section .container .all-projects .col-project{
    width: 100%;
    height: fit-content;
    padding-bottom: 24px;
  }
  .all-projects-section .container .all-projects .col-project .main-content-project{
    gap: 16px;
  }
  .all-projects-section .container .all-projects .col-project .content-img-product{
    height: 150px;
  }
  .all-projects-section .container .all-projects .col-project .content-img-product img{
    width: 100%;
    height: 100%;
  }
  .all-projects-section .container .all-projects .col-project ul{
    flex-wrap: wrap;
  }
  .all-projects-section .container .all-projects .col-project .skills-project li{
    font-size: 11px;
  }
  .all-projects-section .container .all-projects .col-project h2{
    font-size: 17px;
  }
  .all-projects-section .container .content-text h1{
    font-size: 20px;
  }
  .all-projects-section .container .content-text p{
    font-size: 12px;
  }
}
@media (min-width: 520px){
  .all-projects-section .container .col-project .main-content-project a{
    display: none;
  }
}
/*End Projects-Page Style*/